.login-form {
    width: 500px;
    margin: 250px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
.alert-danger {
    background-color: #fff;
    border-color: #fff;
}
