{% extends 'base.html' %}
{% load static %}

{% block title %}Editor{% endblock title %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/editor.css' %}">
{% endblock stylesheet %}

{% block content %}
  <div class="container editor-form">
    <h3>Server settings</h3>
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
        <ul>
          <div class="alert alert-danger">
            {% for field in form %}
              {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error|escape }}</li>
              {% endfor %}
            {% endfor %}
            {% for form in device_formset %}
              {% for field in field.errors %}
                {% for error in field.errors %}
                  <li><strong>{{ field.label }}:</strong> {{ error|escape }}</li>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </div>
        </ul>
      {% endif %}

      <div class="serverNamePart">
        <div class="form-group serverNamePart">
          <label for="id_name">Server name</label>
          <input type="text" class="form-control" id="id_name" name="name"
                 value="{{ form.name.value|default_if_none:'' }}">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="id_app_host">Rest server IP</label>
            <input type="text" class="form-control" id="id_app_host" name="app_host" value="0.0.0.0">
            <small class="form-text text-muted">Use 0.0.0.0 for access from all connected networks</small>
          </div>
          <div class="form-group col-md-2">
            <label for="id_app_port">Rest server port</label>
            <input type="number" class="form-control" id="id_app_port" name="app_port" value="1880">
            <small class="form-text text-muted">Port to rest request</small>
          </div>
          <div class="form-group col-md-4">
            <label for="id_logging">Log level</label>
            <select id="id_logging" name="logging" class="form-control">
              <option selected>INFO</option>
              <option>DEBUG</option>
            </select>
            <small class="form-text text-muted">Debug only for debugging</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="id_timeout">Timeout</label>
            <input type="number" class="form-control" id="id_timeout" name="timeout" value="3">
            <small class="form-text text-muted">Timeout in seconds for connecting to Modbus server</small>
          </div>
          <div class="form-group col-md-4">
            <label for="id_check_modbus_interval">Check modbus interval</label>
            <input type="number" class="form-control" id="id_check_modbus_interval"
                   name="check_modbus_interval" value="3">
            <small class="form-text text-muted">Period in seconds for check the modbus server
              available</small>
          </div>
          <div class="form-group col-md-4">
            <label for="id_check_modbus_interval_after_failed_attempt">Check modbus interval after
              fail</label>
            <input type="number" class="form-control" id="id_check_modbus_interval_after_failed_attempt"
                   name="check_modbus_interval_after_failed_attempt" value="3">
            <small class="form-text text-muted">
              A period in seconds for waiting to connect to the modbus server after failed connect attempt
            </small>
          </div>
        </div>
      </div>

      <div id="device_formset">
        {{ device_formset.management_form }}
        <div class="dynamic-form device-formset" id="device_form_template" style="display: none;">
          <div class="devicePart">
            <h4>Devices</h4>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="id_device_name">Modbus server name</label>
                <input type="text" class="form-control" id="id_device_name" name="device_name">
              </div>
              <div class="form-group col-md-2">
                <label for="id_hrc_ip">Modbus address</label>
                <input type="text" class="form-control" id="id_hrc_ip" name="hrc_ip" placeholder="0.0.0.0">
                <small class="form-text text-muted">Hostname/IP address of Modbus server</small>
              </div>
              <div class="form-group col-md-2">
                <label for="id_hrc_port">Modbus port</label>
                <input type="number" class="form-control" id="id_hrc_port" name="hrc_port" placeholder="1880">
                <small class="form-text text-muted">Port of Modbus server for connect</small>
              </div>
              <div class="form-group col-md-2">
                <label for="id_unit_id">Unit ID</label>
                <input type="number" class="form-control" id="id_unit_id" name="unit_id">
                <small class="form-text text-muted">ID of current slave on Modbus</small>
              </div>
              <div class="form-group col-md-2">
                <label for="id_device_template_id">Modbus device template</label>
                <input type="number" class="form-control" id="id_device_template_id" name="device_template_id">
                <small class="form-text text-muted">ID of modbus template</small>
              </div>
              <div class="form-group col-md-2">
                <label for="id_room">Room</label>
                <input type="number" class="form-control" id="id_room" name="room">
                <small class="form-text text-muted">The room number that the device controls</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="deviceLocationPart col">
              <h4>Device locations</h4>
              <div class="form-group">
                <label for="locationNameInput">Location name</label>
                <input type="text" class="form-control" id="locationNameInput">
              </div>
            </div>
            <div class="tagPart col">
              <h4>Tags</h4>
              <div class="form-group">
                <label for="modbusIDTagsInput">Modbus ID</label>
                <input type="number" class="form-control" id="modbusIDTagsInput">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="scenePart col">
              <h4>Scenes</h4>
              <div class="form-group">
                <label for="sceneNameInput">Scene name</label>
                <input type="text" class="form-control" id="sceneNameInput">
              </div>
            </div>
            <div class="tagAndValuesPart col">
              <h4>Tags and Values</h4>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="modbusIDTagsValuesInput">Modbus ID</label>
                  <input type="number" class="form-control" id="modbusIDTagsValuesInput">
                </div>
                <div class="form-group col-md-6">
                  <label for="valueInput">Value</label>
                  <input type="number" class="form-control" id="valueInput">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
{% endblock content %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="{% static 'js/editor.js' %}"></script>
{% endblock script %}
