{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username"
                       required="required" name="username" id="id_username">
                {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password"
                       required="required" name="password" id="id_password">
                {% if form.password.errors %}
                    <div class="alert alert-danger">
                        {{ form.password.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="clearfix">
                <p class="text-center">Not registered? <a href="{% url 'main:signup' %}">Create an account</a></p>
            </div>
        </form>
    </div>
{% endblock content %}