{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            <h2 class="text-center">Sign up</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username"
                       required="required" name="username" id="id_username">
                {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Choose password"
                       required="required" name="password" id="id_password">
                {% if form.password1.errors %}
                    <div class="alert alert-danger">
                        {{ form.password1.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm password"
                       required="required" name="password2" id="id_password2">
                {% if form.password2.errors %}
                    <div class="alert alert-danger">
                        {{ form.password2.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </div>
            <div class="clearfix">
                <p class="text-center">Already a member? <a href="{% url 'main:login' %}">Log in</a></p>
            </div>
        </form>
    </div>
{% endblock content %}